<div class="container">
  <h2>Modification de la biere </h2>
  <!-- <form role="form">-->
  <form ng-submit="submit()" ng-controller="BeerAddCtrl">
  
    <div class="form-group">
      <label for="name">1- Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter name" value="test" ng-model="name" ng-init="name='name'">
    </div>
    
    <div class="form-group">
      <label for="pwd">2- Alcohol:</label>
      <input type="alcohol" class="form-control" id="alcohol" placeholder="Enter alcohol" ng-model="alcohol" ng-init="alcohol='9'">
    </div>
    
    <div class="form-group">
      <label for="pwd">3- Description:</label>
      <input type="description" class="form-control" id="description" placeholder="Enter description" ng-model="description" ng-init="description='description'">
    </div>
    <div class="form-group">
      <label for="pwd">4- id:</label>
      <input type="id" class="form-control" id="id" placeholder="Enter id" ng-model="id" ng-init="id='id'">
    </div>
    <div class="form-group">
      <label for="pwd">5- img:</label>
      <input type="img" class="form-control" id="img" placeholder="Enter img" ng-model="img" ng-init="img='img'">
    </div>
    <div class="form-group">
      <label for="pwd">6- availability:</label>
      <input type="availability" class="form-control" id="availability" placeholder="Enter availability" ng-model="availability" ng-init="availability='availability'">
    </div>
    <div class="form-group">
      <label for="pwd">7- bewery:</label>
      <input type="bewery" class="form-control" id="bewery" placeholder="Enter bewery" ng-model="bewery" ng-init="bewery='bewery'">
    </div>
    <div class="form-group">
      <label for="pwd">8- label:</label>
      <input type="label" class="form-control" id="label" placeholder="Enter label" ng-model="label" ng-init="label='label'">
    </div>
    <div class="form-group">
      <label for="pwd">9- serving:</label>
      <input type="serving" class="form-control" id="serving" placeholder="Enter serving" ng-model="serving" ng-init="serving='serving'">
    </div>
    <div class="form-group">
      <label for="pwd">10- style:</label>
      <input type="style" class="form-control" id="style" placeholder="Enter style" ng-model="style" ng-init="style='style'">
    </div>     
    
    <!-- <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div> -->
    <!-- <button type="submit" class="btn btn-default">Submit</button> -->
    <input type="submit" id="submit" value="Submit" />
  </form>
</div>